
        #heading {
            background-color: red;
        }
        .head{
            font-style: italic;
        }
        #paraaa{
            color: aqua;
        }
        #hint{
            color: blue;
        }
        #hints{
            color: yellow;
        }
        #blue{
            color: blueviolet;
        }
        .ylw{
            font-style: italic;
        }

        
   
