#div1{
    background-color: red;
    color: black;
    float: right;
    width: 33%;
}
#div2{
    background-color: yellow;
    color: black;
    float: right;
    width: 33%;
}
#div3{
    background-color: blueviolet;
    color: black;
    float: right;
    width: 33%;
}